﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gelre Airport</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gelre Airport", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Passagiers", "Index", "Passagiers")</li>
                    <li>@Html.ActionLink("Vluchten", "Index", "Vluchten")</li>
                    <li>@Html.ActionLink("Balies", "Index", "Balies")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            @using (Html.BeginForm("Search", "Passagiers", FormMethod.Post))
            {
                <p>
                    Find by passagiernaam: @Html.TextBox("passagiernaam")
                    Find by vluchtnummer: @Html.TextBox("vluchtnummer")
                    Find by luchthaven: @Html.TextBox("luchthaven")
                    Find by maatschappij: @Html.TextBox("maatschappij")
                    Find by vertrekdatum: @Html.TextBox("vertrekdatum")
                    <input type="submit" value="Search" class="btn-default" />
                </p>
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gelre Airport</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
