﻿@model gelre_airport.Models.Balie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Balie</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.balienummer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
