﻿@model IEnumerable<gelre_airport.Models.Balie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.balienummer)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.balienummer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.balienummer }) |
            @Html.ActionLink("Details", "Details", new { id=item.balienummer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.balienummer }) |
            @Html.ActionLink("Select", "Select", new { id = item.balienummer })
        </td>
    </tr>
}

</table>
