﻿@model gelre_airport.Models.Balie

@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

<div>
    <h4>Balie</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    <p>De volgende balie is balie is momenteel geselecteerd als hudige: @Model.balienummer</p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
