﻿@model gelre_airport.Models.Object

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Object</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gewicht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gewicht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassagierVoorVlucht.stoel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassagierVoorVlucht.stoel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.volgnummer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
