﻿@model gelre_airport.Models.Object

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Object</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.volgnummer)

        <div class="form-group">
            @Html.LabelFor(model => model.passagiernummer, "passagiernummer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("passagiernummer", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.passagiernummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vluchtnummer, "vluchtnummer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownList("vluchtnummer", ViewBag.vluchtnummer as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.vluchtnummer, "", new { @class = "text-danger" })*@
                @Html.TextBox("vluchtnummer", Model.vluchtnummer, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gewicht, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gewicht, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.gewicht, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
