﻿@model IEnumerable<gelre_airport.Models.Object>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gewicht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassagierVoorVlucht.stoel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gewicht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassagierVoorVlucht.stoel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.volgnummer }) |
            @Html.ActionLink("Details", "Details", new { id=item.volgnummer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.volgnummer })
        </td>
    </tr>
}

</table>
