﻿@model gelre_airport.Models.Passagier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Passagier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.geslacht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.geslacht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.geboortedatum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.geboortedatum)
        </dd>

    </dl>
</div>
<div>
    <h4>Passagier voor vlucht:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Balienummer</dt>
        <dd>@ViewBag.pvv.balienummer</dd>
        <dt>Inchecktijdstip</dt>
        <dd>@ViewBag.pvv.inchecktijdstip</dd>
        <dt>Stoel</dt>
        <dd>@ViewBag.pvv.stoel</dd>
    </dl>
    @using (Html.BeginForm("Edit", "PassagierVoorVluchts", FormMethod.Post))
    {
        <input type="submit" value="Bewerken" class="btn-default" />
        @Html.TextBox("passagiernummer", ViewBag.pvv.passagiernummer as string)
        @Html.TextBox("vluchtnummer", @ViewBag.pvv.vluchtnummer as string)
        @Html.TextBox("inchecktijdstip", (@ViewBag.pvv.inchecktijdstip).ToString() as string)
        @Html.TextBox("stoel", @ViewBag.pvv.stoel as string)
    }
</div>
<div>
    <h4>Vlucht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Vluchtnummer</dt>
        <dd>@ViewBag.vlucht.vluchtnummer</dd>   
        <dt>Gatecode</dt>
        <dd>@ViewBag.vlucht.gatecode</dd>
        <dt>Maatschappijcode</dt>
        <dd>@ViewBag.vlucht.maatschappijcode</dd>
        <dt>Luchthavencode</dt>
        <dd>@ViewBag.vlucht.luchthavencode</dd>
        <dt>Vliegtuigtype</dt>
        <dd>@ViewBag.vlucht.vliegtuigtype</dd>
        <dt>Maximaal aantal passagiers:</dt>
        <dd>@ViewBag.vlucht.max_aantal_psgrs</dd>
        <dt>Maximaal totaal gewicht</dt>
        <dd>@ViewBag.vlucht.max_ppgewicht</dd>
        <dt>Vertrektijdstip</dt>
        <dd>@ViewBag.vlucht.vertrektijdstip</dd>
        <dt>Aankomsttijdstip</dt>
        <dd>@ViewBag.vlucht.aankomsttijdstip</dd>
    </dl>
</div>
<div>
    <h4>Baggage</h4>
    <p>@Html.ActionLink("Create", "Create", "Objects", null, null)</p>
    <hr />
    @foreach (var item in ViewBag.baggage)
    {
        <dl class="dl-horizontal">
            <dt>Volgnummer</dt>
            <dd>@item.volgnummer</dd>
            <dt>Gewicht</dt>
            <dd>@item.gewicht</dd>
            <dt>Vluchtnummer</dt>
            <dd>@item.vluchtnummer</dd>
            <dt>Passagiernummer</dt>
            <dd>@item.passagiernummer</dd>
        </dl>
        <div>
            @Html.ActionLink("Edit", "Edit", "Objects", new { id = item.volgnummer }, null) |
            @Html.ActionLink("Delete", "Delete", "Objects", new { id = item.volgnummer }, null) |
        </div>
    }            
</div>