﻿@model IEnumerable<gelre_airport.Models.Passagier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.passagiernummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.geslacht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.geboortedatum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.passagiernummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.geslacht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.geboortedatum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.passagiernummer }) |
            @Html.ActionLink("Details", "Details", new { id=item.passagiernummer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.passagiernummer })
        </td>
    </tr>
}

</table>
