﻿@model IEnumerable<gelre_airport.Models.SearchModel>
@{
    ViewBag.Title = "Search";
}
<h2>Search</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.passagiernummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passagiernaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vluchtnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.luchthaven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maatschappij)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vertrekdatum)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.passagiernummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.passagiernaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vluchtnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.luchthaven)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maatschappij)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vertrekdatum.Date)
            </td>
            <td>
                @Html.ActionLink("Details", "AllDetails", new { id = item.passagiernummer, vluchtnummer = item.vluchtnummer })
            </td>
        </tr>
    }
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</table>