﻿@model gelre_airport.Models.Vlucht

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vlucht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.max_aantal_psgrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_aantal_psgrs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_totaalgewicht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_totaalgewicht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_ppgewicht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_ppgewicht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vertrektijdstip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vertrektijdstip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aankomsttijdstip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aankomsttijdstip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gate.gatecode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gate.gatecode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luchthaven.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luchthaven.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maatschappij.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maatschappij.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vliegtuig.vliegtuigtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vliegtuig.vliegtuigtype)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
