﻿@model gelre_airport.Models.Vlucht

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vlucht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.max_aantal_psgrs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_aantal_psgrs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_totaalgewicht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_totaalgewicht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.max_ppgewicht)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_ppgewicht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vertrektijdstip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vertrektijdstip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aankomsttijdstip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aankomsttijdstip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gate.gatecode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gate.gatecode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luchthaven.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luchthaven.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maatschappij.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maatschappij.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vliegtuig.vliegtuigtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vliegtuig.vliegtuigtype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.vluchtnummer }) |
    @Html.ActionLink("Back to List", "Index")
</p>
