﻿@model IEnumerable<gelre_airport.Models.Vlucht>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.max_aantal_psgrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_totaalgewicht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.max_ppgewicht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vertrektijdstip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aankomsttijdstip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gate.gatecode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luchthaven.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maatschappij.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vliegtuig.vliegtuigtype)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.max_aantal_psgrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_totaalgewicht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.max_ppgewicht)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vertrektijdstip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aankomsttijdstip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gate.gatecode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Luchthaven.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maatschappij.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vliegtuig.vliegtuigtype)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vluchtnummer }) |
            @Html.ActionLink("Details", "Details", new { id=item.vluchtnummer }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vluchtnummer })
        </td>
    </tr>
}

</table>
