﻿@model gelre_airport.Models.PassagierVoorVlucht

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PassagierVoorVlucht</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.passagiernummer, "passagiernummer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("passagiernummer", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.passagiernummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vluchtnummer, "vluchtnummer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("vluchtnummer", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.vluchtnummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.balienummer, "balienummer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("balienummer", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.balienummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.inchecktijdstip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.inchecktijdstip, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.inchecktijdstip, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.stoel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.stoel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.stoel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
