﻿@model gelre_airport.Models.PassagierVoorVlucht

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PassagierVoorVlucht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.inchecktijdstip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inchecktijdstip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stoel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stoel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balie.balienummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balie.balienummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Passagier.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passagier.naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vlucht.gatecode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vlucht.gatecode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
