﻿@model IEnumerable<gelre_airport.Models.PassagierVoorVlucht>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.inchecktijdstip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stoel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balie.balienummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Passagier.naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vlucht.gatecode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.inchecktijdstip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stoel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balie.balienummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Passagier.naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vlucht.gatecode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
